<!-- <section class="home">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1>Bienvenido a Newshore</h1>
        <p>Somos una empresa de desarrollo de software dedicada a brindar soluciones innovadoras y de calidad a nuestros
          clientes.</p>
        <a href="#" class="btn btn-primary">Conoce más</a>
      </div>
      <div class="col-md-6">
        <img src="assets/home-image.jpg" alt="Newshore Home Image">
      </div>
    </div>
  </div>
</section>
 -->
